[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/Testnet-Contracts"]
	path = lib/Testnet-Contracts
	url = https://github.com/EVVM-org/Testnet-Contracts
